In [1]:
import pandas as pd

DATA_PATH = "../donnees/ecommerce/"

In [2]:
# ── Load
orders    = pd.read_parquet(DATA_PATH + "orders.parquet")
items     = pd.read_parquet(DATA_PATH + "items.parquet")       # order_items
products  = pd.read_parquet(DATA_PATH + "products.parquet")
sellers   = pd.read_parquet(DATA_PATH + "sellers.parquet")
customers = pd.read_parquet(DATA_PATH + "customers.parquet")
geo       = pd.read_parquet(DATA_PATH + "geolocation.parquet")
payments  = pd.read_parquet(DATA_PATH + "payments.parquet")
reviews   = pd.read_parquet(DATA_PATH + "reviews.parquet")

# ── Timestamp commande
ts_col = "order_purchase_timestamp" if "order_purchase_timestamp" in orders.columns else (
    "purchase_timestamp" if "purchase_timestamp" in orders.columns else None
)

orders_keep = ["order_id", "customer_id"]
for c in ["order_status", ts_col]:
    if c in orders.columns:
        orders_keep.append(c)
orders_slim = orders[orders_keep].copy()

# ── Clients / Vendeurs (zip en string)
customers_slim = customers[[c for c in ["customer_id","customer_zip_code_prefix","customer_city","customer_state"] if c in customers]].copy()
sellers_slim   = sellers  [[c for c in ["seller_id","seller_zip_code_prefix","seller_city","seller_state"] if c in sellers]].copy()
for t in (customers_slim, sellers_slim):
    for z in [c for c in t.columns if "zip_code_prefix" in c]:
        t[z] = t[z].astype("string")

# ── Géoloc réduite (1 ligne par prefix, lat/lng moyens)
zip_col   = "geolocation_zip_code_prefix" if "geolocation_zip_code_prefix" in geo.columns else "zip_code"
lat_col   = "geolocation_lat" if "geolocation_lat" in geo.columns else "lat"
lng_col   = "geolocation_lng" if "geolocation_lng" in geo.columns else "lng"
city_col  = "geolocation_city" if "geolocation_city" in geo.columns else "city"
state_col = "geolocation_state" if "geolocation_state" in geo.columns else "state"

geo_red = (
    geo[[zip_col, lat_col, lng_col, city_col, state_col]]
    .dropna(subset=[zip_col])
    .astype({zip_col: "string"})
    .groupby(zip_col, as_index=False)
    .agg({lat_col: "mean", lng_col: "mean", city_col: "first", state_col: "first"})
)

geo_cust = geo_red.rename(columns={
    zip_col: "customer_zip_code_prefix",
    lat_col: "cust_lat", lng_col: "cust_lng",
    city_col: "cust_geo_city", state_col: "cust_geo_state",
})
geo_sell = geo_red.rename(columns={
    zip_col: "seller_zip_code_prefix",
    lat_col: "sell_lat", lng_col: "sell_lng",
    city_col: "sell_geo_city", state_col: "sell_geo_state",
})

# ── Produits utiles
prod_keep = [c for c in [
    "product_id","product_category_name",
    "product_weight_g","product_length_cm","product_height_cm","product_width_cm"
] if c in products.columns]
products_slim = products[prod_keep].copy()

# ── Paiements agrégés par commande
pay = payments.groupby("order_id", as_index=False)["payment_value"].sum().rename(columns={"payment_value":"order_payment_value"})

# ── Avis: moyenne par commande (utile pour suivre la QoS)
rev = reviews.groupby("order_id", as_index=False)["review_score"].mean().rename(columns={"review_score":"order_avg_review"})

# ── Base granulaire (order_item)
base = (
    items
    .merge(orders_slim,   on="order_id",  how="left")
    .merge(customers_slim,on="customer_id", how="left")
    .merge(sellers_slim,  on="seller_id", how="left")
    .merge(products_slim, on "product_id", how="left")
    .merge(geo_cust,      on="customer_zip_code_prefix", how="left")
    .merge(geo_sell,      on="seller_zip_code_prefix",   how="left")
    .merge(pay,           on="order_id",  how="left")
    .merge(rev,           on="order_id",  how="left")
)

# ── Temps + KPI ligne
if ts_col in base.columns:
    base[ts_col] = pd.to_datetime(base[ts_col], errors="coerce")
    base["year"]  = base[ts_col].dt.year
    base["month"] = base[ts_col].dt.month

if {"price","freight_value"}.issubset(base.columns):
    base["line_revenue"] = base["price"]
    base["line_total"]   = base["price"] + base["freight_value"]

# ── Agrégation par défaut: Year × Customer State (modulable)
dims_default = [c for c in ["year","customer_state"] if c in base.columns]

agg_dict = {
    "order_id":            pd.Series.nunique,   # nb de commandes uniques
    "order_item_id":       "count",             # nb d'articles (lignes)
    "line_revenue":        "sum",
    "freight_value":       "sum",
    "line_total":          "sum",
    "order_payment_value": "sum",
    "order_avg_review":    "mean"
}
# filtre sur colonnes existantes
agg_dict = {k:v for k,v in agg_dict.items() if k in base.columns}

df_sales_agg = (
    base
    .groupby(dims_default, dropna=False)
    .agg(agg_dict)
    .rename(columns={
        "order_id": "orders_nunique",
        "order_item_id": "items_count",
        "line_revenue": "gmv",
        "freight_value": "freight_sum",
        "line_total": "revenue_plus_freight",
        "order_payment_value": "payments_sum",
        "order_avg_review": "avg_review_score"
    })
    .reset_index()
)

# ── Métriques dérivées utiles
if {"payments_sum","orders_nunique"}.issubset(df_sales_agg.columns):
    df_sales_agg["avg_ticket"] = df_sales_agg["payments_sum"] / df_sales_agg["orders_nunique"]

print("DF3 (agrégé) shape:", df_sales_agg.shape)
display(df_sales_agg.head(10))

,order_id,customer_id,zip_code,purchase_timestamp,year,month
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,28013,2017-09-13 08:59:02,2017,9
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,15775,2017-04-26 10:53:06,2017,4
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,35661,2018-01-14 14:33:31,2018,1
3,00024acbcdf0a6daa1e931b038114c75,d4eb9395c8c0431ee92fce09860c5a06,12952,2018-08-08 10:00:35,2018,8
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,13226,2017-02-04 13:57:51,2017,2

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
order_id,98673,98673,00010242fe8c5a6d1ba2dd792cb16214,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
customer_id,98673,98673,3ce436f183e68e07877b285a838db11a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,98673.0,NaN,NaN,NaN,35153.994791,1003.0,11340.0,24415.0,59020.0,99990.0,29821.024954
purchase_timestamp,98673,NaN,NaN,NaN,2017-12-31 12:30:02.947635200,2016-09-04 21:15:19,2017-09-12 16:15:06,2018-01-19 08:49:47,2018-05-04 19:50:51,2018-10-17 17:30:18,NaN
year,98673.0,NaN,NaN,NaN,2017.54028,2016.0,2017.0,2018.0,2018.0,2018.0,0.504923
month,98673.0,NaN,NaN,NaN,6.032106,1.0,3.0,6.0,8.0,12.0,3.231047

In [3]:
orders    = pd.read_parquet(DATA_PATH + "orders.parquet")
items     = pd.read_parquet(DATA_PATH + "items.parquet")
products  = pd.read_parquet(DATA_PATH + "products.parquet")
sellers   = pd.read_parquet(DATA_PATH + "sellers.parquet")
customers = pd.read_parquet(DATA_PATH + "customers.parquet")
geo       = pd.read_parquet(DATA_PATH + "geolocation.parquet")

order_ts_col = (
    "order_purchase_timestamp" if "order_purchase_timestamp" in orders.columns
    else ("purchase_timestamp" if "purchase_timestamp" in orders.columns else None)
)

orders_keep = ["order_id", "customer_id"]
for c in ["order_status", order_ts_col]:
    if c and c in orders.columns:
        orders_keep.append(c)
orders_slim = orders[orders_keep].copy()

cust_zip_col = (
    "customer_zip_code_prefix" if "customer_zip_code_prefix" in customers.columns
    else ("zip_code" if "zip_code" in customers.columns else None)
)
sell_zip_col = (
    "seller_zip_code_prefix" if "seller_zip_code_prefix" in sellers.columns
    else ("zip_code" if "zip_code" in sellers.columns else None)
)

customers_slim = customers[[
    c for c in ["customer_id", cust_zip_col, "customer_city", "customer_state"] if c in customers.columns
]].copy()
if cust_zip_col and cust_zip_col != "customer_zip_code_prefix":
    customers_slim = customers_slim.rename(columns={cust_zip_col: "customer_zip_code_prefix"})

sellers_slim = sellers[[
    c for c in ["seller_id", sell_zip_col, "seller_city", "seller_state"] if c in sellers.columns
]].copy()
if sell_zip_col and sell_zip_col != "seller_zip_code_prefix":
    sellers_slim = sellers_slim.rename(columns={sell_zip_col: "seller_zip_code_prefix"})

geo_zip_col = (
    "geolocation_zip_code_prefix" if "geolocation_zip_code_prefix" in geo.columns
    else ("zip_code" if "zip_code" in geo.columns else None)
)
lat_col  = "geolocation_lat"  if "geolocation_lat"  in geo.columns else ("lat"  if "lat"  in geo.columns else None)
lng_col  = "geolocation_lng"  if "geolocation_lng"  in geo.columns else ("lng"  if "lng"  in geo.columns else None)
city_col = "geolocation_city" if "geolocation_city" in geo.columns else ("city" if "city" in geo.columns else None)
st_col   = "geolocation_state" if "geolocation_state" in geo.columns else ("state" if "state" in geo.columns else None)

geo_cols = [c for c in [geo_zip_col, lat_col, lng_col, city_col, st_col] if c]
geo_base = geo[geo_cols].copy()

geo_cust = geo_base.rename(columns={
    geo_zip_col: "customer_zip_code_prefix",
    **({lat_col: "cust_lat"} if lat_col else {}),
    **({lng_col: "cust_lng"} if lng_col else {}),
    **({city_col: "cust_geo_city"} if city_col else {}),
    **({st_col: "cust_geo_state"} if st_col else {}),
})

geo_sell = geo_base.rename(columns={
    geo_zip_col: "seller_zip_code_prefix",
    **({lat_col: "sell_lat"} if lat_col else {}),
    **({lng_col: "sell_lng"} if lng_col else {}),
    **({city_col: "sell_geo_city"} if city_col else {}),
    **({st_col: "sell_geo_state"} if st_col else {}),
})

df = (
    items
    .merge(orders_slim, on="order_id", how="left")
    .merge(customers_slim, on="customer_id", how="left")
    .merge(sellers_slim, on="seller_id", how="left")
    .merge(products[[
        c for c in [
            "product_id", "product_category_name",
            "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"
        ] if c in products.columns
    ]], on="product_id", how="left")
    .merge(geo_cust, on="customer_zip_code_prefix", how="left")
    .merge(geo_sell, on="seller_zip_code_prefix", how="left")
)

ts_col = order_ts_col if order_ts_col in df.columns else None
if ts_col:
    df[ts_col] = pd.to_datetime(df[ts_col], errors="coerce")
    df["year"]  = df[ts_col].dt.year
    df["month"] = df[ts_col].dt.month

cols = [c for c in [
    "order_id", "order_item_id", "product_id", "seller_id", "customer_id",
    "price", "freight_value", "shipping_limit_date",
    "product_category_name", "product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm",
    "customer_zip_code_prefix", "customer_city", "customer_state",
    "seller_zip_code_prefix", "seller_city", "seller_state",
    "cust_lat", "cust_lng", "sell_lat", "sell_lng",
    "order_status", ts_col, "year", "month"
] if c and c in df.columns]

df_purchases = df[cols].copy()

print("Shape:", df_purchases.shape)
display(df_purchases.head(5))
display(df_purchases.describe(include="all").T)

Shape: (112650, 16)

,order_id,order_item_id,product_id,seller_id,customer_id,price,freight_value,customer_zip_code_prefix,seller_zip_code_prefix,cust_lat,cust_lng,sell_lat,sell_lng,purchase_timestamp,year,month
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,3ce436f183e68e07877b285a838db11a,58.90,13.29,28013,27277,-21.762829,-41.310605,-22.498419,-44.125272,2017-09-13 08:59:02,2017,9
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,f6dd3ec061db4e3987629fe6b26e5cce,239.90,19.93,15775,3471,-20.205737,-50.926924,-23.564289,-46.519045,2017-04-26 10:53:06,2017,4
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,6489ae5e4333f3693df5ad4372dab6d3,199.00,17.87,35661,37564,-19.870383,-44.594355,-22.271648,-46.165556,2018-01-14 14:33:31,2018,1
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,d4eb9395c8c0431ee92fce09860c5a06,12.99,12.79,12952,14403,-23.104346,-46.595589,-20.554951,-47.387691,2018-08-08 10:00:35,2018,8
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,58dbd0b2d70206bf40e62cd34e84d795,199.90,18.14,13226,87900,-23.245512,-46.825182,-22.930408,-53.136438,2017-02-04 13:57:51,2017,2

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
order_id,112650,98666,8272b63d03f5f79c56e9e4120aec44ef,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
order_item_id,112650.0,NaN,NaN,NaN,1.197834,1.0,1.0,1.0,1.0,21.0,0.705124
product_id,112650,32951,aca2eb7d00ea1a7b8ebd4e68314663af,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN
seller_id,112650,3095,6560211a19b47992c3666cc44a7e94c0,2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
customer_id,112650,98666,fc3d1daec319d62d49bfb5e1f83123e9,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,112650.0,NaN,NaN,NaN,120.653739,0.85,39.9,74.99,134.9,6735.0,183.633928
freight_value,112650.0,NaN,NaN,NaN,19.99032,0.0,13.08,16.26,21.15,409.68,15.806405
customer_zip_code_prefix,112650.0,NaN,NaN,NaN,35119.30909,1003.0,11310.0,24340.0,59028.75,99990.0,29866.120801
seller_zip_code_prefix,112650.0,NaN,NaN,NaN,24439.170431,1001.0,6429.0,13568.0,27930.0,99730.0,27596.030909
cust_lat,112348.0,NaN,NaN,NaN,-21.235445,-33.690972,-23.590926,-22.93015,-20.182699,42.184003,5.571251
cust_lng,112348.0,NaN,NaN,NaN,-46.201963,-72.670987,-48.109214,-46.634834,-43.635422,-8.577855,4.039896
sell_lat,112397.0,NaN,NaN,NaN,-22.79873,-32.074657,-23.607598,-23.424399,-21.75769,-2.498944,2.69705
sell_lng,112397.0,NaN,NaN,NaN,-47.236213,-67.81116,-48.829768,-46.744111,-46.519045,-34.855123,2.340156
purchase_timestamp,112650,NaN,NaN,NaN,2018-01-01 00:09:48.464376576,2016-09-04 21:15:19,2017-09-13 19:17:04,2018-01-19 23:02:16,2018-05-04 17:30:36.750000128,2018-09-03 09:06:57,NaN
year,112650.0,NaN,NaN,NaN,2017.541909,2016.0,2017.0,2018.0,2018.0,2018.0,0.504792
month,112650.0,NaN,NaN,NaN,6.026835,1.0,3.0,6.0,8.0,12.0,3.232541